html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
    font-family: "Grandstander";
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
  }
  .main{
    height: 100%;
    width :100%;
    
  } 
  #tester{
    width:100%;
    height: 100%;
    position: fixed;
  }
  .game {
    width: 39vw;
    height: 40vh;
    background-color: #245c0a;
    position: absolute;
    margin-top: 27vh;
    margin-left: 20vw;
    /* display: grid;
    grid-template-rows: auto;
    grid-template-columns: 6fr 2fr;
    align-items:flex-end; */
}
  .ans {
    
    border-bottom:  solid rgba(9, 128, 15, 0.623);
    height:100%;
    margin: 0px;
    text-align: center;
    letter-spacing:2vw;
    font-size: xx-large;
    color: rgb(232, 248, 9);
    border-left:  solid rgba(9, 128, 15, 0.623);
  }
  .try{
    height:100%;
    border-bottom:  solid rgba(9, 128, 15, 0.623);
    height:100%;
    margin: 0px;
    text-align: center;
    letter-spacing:4vw;
    font-size: xx-large;
    color: rgb(9, 218, 26);
  }
  .esc{font-size: xx-large;
    color: aliceblue;
    position: relative;
    margin-top: 89vh;
    margin-left: 28vw;
    width: 5vw;
    height: 5vh;
    border: none;
    background-color: #272c2cfb;
    border-radius: 30px;
  } 
  .ok{font-size: xx-large;
    color: aliceblue;
    border: none;
    margin-left: 14vw;
    position: relative;
    margin-top: 0vh;
    width: 5vw;
    height: 6vh;
    background-color: #2e3434;
    border-radius: 39px;

  }
  .esc:hover{
  color: rgb(241, 47, 47);
  }
  .ok:hover{
    color: rgb(9, 155, 9);
  }












